<h1>Eat Da Burger</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="devburger">Devour!</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add Burger</h2>
<form id="addburger" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Add a Burger!</button>
</form>

 <h2>Update Burgers</h2>
 <form id="update" class="button-size">
   <input type="text" name="id" placeholder="id">
 	<textarea type="text" name="burger_name" placeholder="what do you want to update this movie title to?">
 </textarea>
 	<button type="submit">Update Movie!</button>
 </form>

<script type="text/javascript">
  $(".devburger").on("click", function(event) {
    var id = $(this).data("burgerid");

    // Send the DELETE request.
    $.ajax("/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

     
    var newBurger = {
      burger_name: $("#addburger [name=burger_name]").val().trim() 
       };

    // Send the POST request.
    $.ajax("/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedBurger = {
      burger_name: $("#updateburger [name=burger_name]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/burgers/" + id, {
      type: "PUT",
      data: updatedBurger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
